#tabhead .logo {
	height: 73px !important;
}
#subnav {
  background: #F4911D;
  border: 0px;
}

ul, li
{
  display: inline;
  list-style-type: none;
}

li
{
  border: solid 1px white;
  padding: 5px;
  margin: 5px;
  background-color: #DDDDB7;
}

table#features tr td .feature {
  padding: 10px;
  background-color: white;
  border: 1px solid #BBB;
  border-radius: 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
}

table#features tr td .feature .feature-content {
  height: 60px;
}


table#features tr td {
  width: 33%;
  line-height: 1.43em;
  font-size: 14px;
  vertical-align: top;
}

.left-indent {
  padding-left: 15px;
}  

#short-description {
  font-size: 1.2em;
}

#video-intro {
  margin-top: 20px;
}

#user-sign-up-form {
}

.offers-min-height {
  height: 300px;
}

.sub-comment {
  color: #777;
}

.past-offers {
  /*background-color: #BBB;*/
  height: 300px;
}

.shift-left-20 {
  position: relative;
  left: -20px;
}

.past-offers .heading {
  font-weight: bold;
}

.past-offers .item {
  font-size: 0.9em;
}

.current-offers {
  height: 200px;
}

.current-offers .heading {
  font-weight: bold;
}

.current-offers .item {
  font-size: 0.9em;
}

.left-dash .heading {
  font-weight: bold;
}

.right-dash .heading {
  font-weight: bold;
}

