<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.shoppley.android.merchant"
	android:versionCode="2"
	android:versionName="0.2"
	android:installLocation="auto"
>
	<uses-sdk
		android:targetSdkVersion="7"
		android:minSdkVersion="4" />
	<uses-library android:name="com.google.android.maps" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application
		android:name=".MerchantApplication"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
	>
		<activity
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize"
			android:name=".LoginActivity"
			android:theme="@android:style/Theme.NoTitleBar"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize"
			android:name=".MerchantActivity"
			android:theme="@style/CustomTheme"
		>
		</activity>
	</application>
</manifest>