<!doctype html>

{% load i18n %}
{% load ifsetting_tag %}
{% load analytics %}


<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>

  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png">


  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=2">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.js"></script>

		{% if LANGUAGE_BIDI %}
		<!--style type="text/css" media="screen">
				div.right_panel {
						float: left; /* hotfix for sidebar */
				}
		</style-->
		{% endif %}

{% block extra_head_base %}

	{% include "main_css.html" %}

	<!-- [template css] end -->

    {% block extra_head %}{% endblock %}
{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

	<div id="feedback">
		<a id="feedback-tab" href="{% url feedback %}">Feedback</a>
	</div>

  <div id="container">
    <header>
      <div class="container">

        {% if site_wide_announcements %}
            <div id="site_wide_announcements">
                <ul>
                    {% for announcement in site_wide_announcements %}
                    <li>
                        <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                        <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <div id="tabhead">
            <div class="logo" dir="ltr">{% block logo_link_image %}{% endblock %}</div>
            <div class="login">{% block login %}{% endblock %}{% block locale_switcher %}{% endblock %}<div style="text-align: right;"></div></div>
            <div id="left_tabs" >{% block left_tabs %}{% endblock %}</div>
            <div id="right_tabs" >{% block right_tabs %}{% endblock %}</div>
        </div>
        {% block logo_content_divide %}
        {% endblock %}
        <div id="subnav" class="clearfix">{% block subnav_base %}<div class="clearfix">{% block subnav %}&nbsp;{% endblock %}</div>{% endblock %}</div>
      </div>
    </header>

    <div id="main" role="main">
      <div class="container">
      
        {% block body_outer %}
        <div id="body">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message|safe }}</li>

                    {% endfor %}
                </ul>
            {% endif %}
            
            {% block body %}
            {% endblock %}
            
        </div>
        {% endblock %}
        
      </div>
    </div><!-- end of #main -->


    <footer>
      <div class="container">
        <div id="footer">
        {% block footer %}{% endblock %}
        </div>
      </div> <!-- end of .container-->

    </footer>


  </div> <!-- end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->
	{% include "main_js.html" %}

  {% block extra_scripts_base %}
    {% block extra_scripts %}
    {% endblock %}
  {% endblock %}

  {% block extra_body_base %}
      {% block extra_body %}{% endblock %}
  {% endblock %}

</body>
</html>
