<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>FrontPage-Test</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/boram/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/boram/print.css" type="text/css" media="print" />

    <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/boram/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/boram/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/boram/shoppley.css" type="text/css" media="screen, projection">
  </head>
  <body>
  	
    <div class="container">
    	<h1 class="header"><img src="{{ STATIC_URL }}images/boram/logo.png"/></h1>
    	<div class="clear">&nbsp;</div>
    	<div class="span-17 last">
    		<h2 class="alt msg-box">shoppley connects businesses and customers with awesome <i>real time offers</i>. sign up today!</h2>
    	</div>
     	      <div class="clear">&nbsp;</div>
    	<div class="span-12">
    		<div class="main-box">
    			<div class="signup-header customer">
    				Are you looking for <br/>
    				<span class="highlight">incredible deals?</span>  <br/>
    				Receive discount offer txts from your local stores on your cellphone.
    			</div>
    			<div class="signup-form customer">
    				<table>
    					<tbody>
    					<tr>
    						<td class="labels"><label>Email*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>User Name*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>Zip code*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
      						<td class="labels"><label>Cell phone*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					
    					<tr>
    						<td class="labels"><label>Password*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
      						<td class="labels"><label>Password Again*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					</tbody>
    				</table>
    			<div class="clear">&nbsp;</div>
    			</div>
    		
    		</div>
    	</div>
    	<div class="span-12 last">
    		<div class="main-box">
    			<div class="signup-header merchant">
    				Start pulling in new customers and<br/>
    				<span class="highlight">expand your business</span>  <br/>
    				by txting offers to shoppley, entirely on your terms.
    			</div>
    			<div class="signup-form merchant">
    				<table>
    					<tbody>
    					<tr>
    						<td class="labels"><label>Email*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>Business Name*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>Business Address*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>Zip code*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
      						<td class="labels"><label>Cell phone*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					
    					<tr>
    						<td class="labels"><label>Password*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
      						<td class="labels"><label>Password Again*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					</tbody>
    				</table>
    			<div class="clear">&nbsp;</div>
    			</div>
    		
    		
    		</div>
    	</div>
    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
      	<div class="footer">
      		<div class="span-4">
      			<a href="#">About Us</a>	
      		</div>
      		<div class="span-4">
      			<a href="#">Terms of Service</a>	
      		</div>
      		<div class="span-4">
      			<a href="#">Privacy Policy</a>	
      		</div>
      		<div class="span-4">
      			<a href="#">Feedback</a>	
      		</div>
      		<div class="span-4 last">
      			<a href="#">Blog</a>	
      		</div>
      		<div class="clear">&nbsp;</div>
      	</div>
      </div>
  </body>
</html>
