{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}



{% block head_title %}{% trans "Welcome" %}{% endblock %}
  
  {% block body %}

{% if user.is_authenticated %}

        {% include "shoppleyuser/customer_instructions.html" %}
{% else %}


    <div class="container">
  	
    	<!--div class="clear">&nbsp;</div-->
    	<div class="span-17 last">
    		<h2 class="alt msg-box">shoppley connects businesses and customers with awesome <i>real time offers</i>. sign up today!</h2>
    	</div>
     	      <div class="clear">&nbsp;</div>
    	<div class="span-12">
    		<div class="main-box">
    			<div class="signup-header customer">
    				Are you looking for <br/>
    				<span class="highlight">incredible deals?</span>  <br/>
    				Receive discount offer txts from your local stores on your cellphone.
    			</div>
    			<div class="signup-form customer">
	  {% include "shoppleyuser/customer_signup_form.html" %}

    				<!--table>
    					<tbody>
    					<tr>
    						<td class="labels"><label>Email*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>User Name*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>Zip code*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
      						<td class="labels"><label>Cell phone*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					
    					<tr>
    						<td class="labels"><label>Password*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
      						<td class="labels"><label>Password Again*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					</tbody>
    				</table-->
    			<div class="clear">&nbsp;</div>
    			</div>
    		
    		</div>
    	</div>
    	<div class="span-12 last">
    		<div class="main-box">
    			<div class="signup-header merchant">
    				Start pulling in new customers and<br/>
    				<span class="highlight">expand your business</span>  <br/>
    				by txting offers to shoppley, entirely on your terms.
    			</div>
    			<div class="signup-form merchant">
          {% include "shoppleyuser/merchant_signup_form.html" %}

    				<!--table>
    					<tbody>
    					<tr>
    						<td class="labels"><label>Email*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>Business Name*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>Business Address*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
    						<td class="labels"><label>Zip code*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
      						<td class="labels"><label>Cell phone*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					
    					<tr>
    						<td class="labels"><label>Password*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					<tr>
      						<td class="labels"><label>Password Again*</label></td>
    						<td><input type="text" /></td>
    					</tr>
    					</tbody>
    				</table-->
    			<div class="clear">&nbsp;</div>
    			</div>
    		
    		
    		</div>
    	</div>

    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
{% endif %}
      	
      </div>
  {% endblock %}



