{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}
{% load facebook_tags %}



{% block head_title %}{% trans "Welcome" %}{% endblock %}
  
{% block body %}

	{% if user.is_authenticated %}

	{% else %}


    <div class="container">
	{% if email %}
	<ul id="messages">
		<li id="message_1">
		You already have an account with us under {{ email }}. Please login!
		</li>
	</ul>
	{% endif %}
    	<!--div class="clear">&nbsp;</div-->
    	<div class="span-24 last">
    		<h3 class="msg-box">shoppley is a FREE service that connects businesses and customers with awesome <i>real time offers</i>. sign up today!</h3>
    	</div>
     	      <div class="clear">&nbsp;</div>
	<div class="signup-blurb-wrapper" id="frontpage-blurb-wrapper">
		<div class="span-12">
			<img src="{{ STATIC_URL }}images/boram/customer-blurb.png"/>
		
		</div>	
		<div class="span-12 last">
                	<img src="{{ STATIC_URL }}images/boram/biz-blurb.png"/>
                
        	</div>
	</div>  
	<div class="clear">&nbsp;</div>
	{% facebook_js %}
	<div class="span-12" id="customer-signup-button">
		<a href="{% url customer_signup_facebox %}" rel="facebox" class="signup-buttons"><img alt="Customer signup" src="{{ STATIC_URL }}images/boram/customer-default.png" onmouseover="this.src='{{ STATIC_URL }}images/boram/customer-hover.png'" onmouseout="this.src='{{ STATIC_URL }}images/boram/customer-default.png'"></a>
	
                                
        </div>  
        <div class="span-12 last" id="merchant-signup-button">
                <a href="{% url merchant_signup_facebox %}" rel="facebox" class="signup-buttons"><img alt="Merchant signup" src="{{ STATIC_URL }}images/boram/biz-default.png" onmouseover="this.src='{{ STATIC_URL }}images/boram/biz-hover.png'" onmouseout="this.src='{{ STATIC_URL }}images/boram/biz-default.png'"></a>



        </div>

	<!--div class="customer-signup">
		<button id="customer-signup-button">{% trans "Customer" %}</button> 
	</div> 

	<div class="merchant-signup">
		<button id="merchant-signup-button">{% trans "Merchant" %}</button> 
	</div-->
	<div class="span-5">
		&nbsp;
	</div>

	<div class="span-5 last">
		&nbsp;
	</div>
    	<div class="clear">&nbsp;</div>
			<div class="span-12">
				<div class="landing why-shoppley">
				<h2>Why Shoppley</h2>
					<ul>
						<li>
							<ul>
								<li>Exclusive and Customized Offers!</li>
								<li>Our super computer carefully chooses recipients to make sure customers are receiving offers from businesses that are relevant to their personal lifestyle.</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>No Spamming!</li>
								<li>We make sure nobody is spammed. There will be at most 1 offer sent out a day by default.</li>
								<li>Of course, if you enjoy receiving offers, you can choose to receive more sweet deals.</li>
							</ul>	
						</li>
						<li>
							<ul>
								<li>Right When You Want It!</li>
								<li>After a couple of offer messages, our super computer quickly adapts to your lifestyle and we will deliver you deals that are just in time for your use.</li>
								<li>Just txt us back with <span class="txt-command-example">#yay</span> and <span class="txt-command-example">#nay</span>.</li>
								</ul>
						</li>
					</ul>
				</div>
			</div>
  	<div class="span-12 last">
		<div class="landing recent-merc">
			<h2>Newly Joined Businesses</h2>
			<ul>
				<li id="cafe-luna">
					<ul>
						<li>Cafe Luna</li>
						<li>Cafe, Restaurant, American</li>
						<li>Central Square, Cambridge, MA 02139</li>
					</ul>
					</li>
				<li id="harvest-of-india">
					<ul>
						<li>Harvest of India</li>
						<li>Restaurnat, Asian, Indian</li>
						<li>Central Square, Cambridge, MA 02139</li>
					</ul>
				</li>
				<li id="momogoose">
					<ul>
						<li>Momogoose</li>
						<li>Food truck, Asian, Asian-fusion</li>
						<li>Around MIT Campus, Cambridge, MA 02139</li>
					</ul>
				</li>
			</ul>
		</div>
			<div class="clear">&nbsp;</div>
	</div>
{% endif %}<!-- else if user.is_authenticated -->
      	
      </div>
	
{% endblock %}


{% block extra_scripts %}
       

	<script type="text/javascript">
	
		$(function() {
			$('a[rel*=facebox]').facebox(); 
			/*
				
			$("#customer-signup-button").click(function() {
				$.facebox({ div: '#frontpage-customer-signup'});
			});

			$("#merchant-signup-button").click(function() {
				$.facebox({ div: '#frontpage-merchant-signup'});
			});
			*/
		});
	</script>
{% endblock %}

