{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <h1>{% trans "Shoppley brings you real-time offers" %}</h1>
    
    <p>
        {% blocktrans %}
        By signing up you will be getting local coupons that you can redeem in the next 90 minutes. Great for last minute lunch or dinner.
        {% endblocktrans %}
    </p>
    
    <p>
        {% blocktrans %}
        <table id="features">
          <tbody>
            <tr>
              <td>
                <div class="feature">
                  <h4>Register</h4>
                  <p>
                    Register your primary address and create an account.
                  </P>
                </div>
              </td>
              <td class="left-indent">
                <div class="feature left-indent">
                  <h4>Ready your phone</h4>
                  <p>
                    Register your phone number where you can receive txt messages. (Mobile app coming soon) 
                  </P>
                </div>
              </td>
              <td class="left-indent">
                <div class="feature">
                  <h4>Start receiving offers</h4>
                  <p>
                    Decide how many offers you want on a day. 
                  </P>
                </div>
              </td>

            </tr>
          </tbody>
        </table>

        {% endblocktrans %}
    </p>
    
    <h2>{% trans "About Shoppley" %}</h2>
    
    <p>
        {% blocktrans %}
          Shoppley allows you to receive the offers you want in your local area.
        {% endblocktrans %}
    </p>

    <hr />
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
