{% extends "base.html" %}
{% load i18n %}
{% load ifsetting_tag %}
{% load analytics %}


{% block login %}
    {% if user.is_authenticated %}
	{% ifequal no_shoppleyuser_linked  "1" %}
        {% include "shoppleyuser/login_form.html" %}

	{% else %}
	
        <b>{{ user }}</b> | <a href="{% url home %}">{% trans "Home" %}</a> | <a href="{% url user_profile %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
	{% endifequal %}
    {% else %}
	{% include "shoppleyuser/login_form.html" %}
     {% endif %}
{% endblock %}

{% block locale_switcher %}
    <!--form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
        <select name="language" onchange="$('#locale_switcher').submit()">
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
            {% endfor %}
        </select>
    </form-->
{% endblock %}

{% block logo_link_image %}
<a href="{% url home %}"><img src="{{ STATIC_URL }}images/new_logo2.png"/></a>
<!--div class="clear">&nbsp;</div-->
{% endblock %}

{% block right_tabs %}
    {% if user.is_authenticated %}
        <!--ul class="tabs">{% spaceless %}
        
        {% endspaceless %}</ul-->
    {% endif %}
{% endblock %}

{% block logo_content_divide %}
	<!--div class="clear">&nbsp;</div-->
{% endblock %}

{% block subnav_base %}
	{% block subnav %}
	{% endblock %}
{% endblock %}


{% block footer %}
   	<!-- START FOOTER -->
	<div class="splash-wrapper" id="footer-wrapper">
   	<div class="container">
		<div class="legal">
			{% trans "&copy; 2011 shoppley.com" %}
			- <a href="{% url about %}">{% trans "About Us" %}</a>
			- <a href="{% url faq %}">{% trans "FAQ" %}</a>
			- <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
			- <a href="{% url txt_msgs %}">{% trans "TXT Cheat Sheet" %}</a>
	    - <a href="http://blog.shoppley.com">Blog</a>
			- <a href="{% url premium_beta_survey %}">{% trans "Free Premium Service" %}</a>
      - <a href="http://www.twitter.com/shoppley"><img src="{{ STATIC_URL }}images/networks/twitter-16x16.png"></a> <a href="http://www.facebook.com/pages/Shoppley/172962706094426"><img src="{{ STATIC_URL }}images/networks/facebook-16x16.png"></a> 

		</div>
	</div>
	</div>
	<!-- END FOOTER -->
{% endblock %}

{% block extra_body_base %}
    {% urchin %}
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
	<script type="text/javascript">
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              	    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	</script>
    {% block extra_body %}{% endblock %}
{% endblock %}

