DEBUG = True 
TEMPLATE_DEBUG = DEBUG
# tells Pinax to serve media through django.views.static.serve.
SERVE_MEDIA = DEBUG
EMAIL_DEBUG = DEBUG

DATABASE_ENGINE = 'postgresql_psycopg2'    # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'ado_mssql'.
DATABASE_NAME = 'flashon'       # Or path to database file if using sqlite3.
DATABASE_USER = 'flashon'             # Not used with sqlite3.
DATABASE_PASSWORD = 'flashonnohsalf'         # Not used with sqlite3.
DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = '5432'             # Set to empty string for default. Not used with sqlite3.

MEDIA_URL = "http://media.shoppley.com/site_media/static/"
STATIC_URL = "http://media.shoppley.com/site_media/static/"

DEFAULT_FROM_EMAIL = "support@shoppley.com"
SERVER_EMAIL = DEFAULT_FROM_EMAIL
EMAIL_SUBJECT_PREFIX = "[ Shoppley ] "

