# copy this file to local_settings.py on local server

import os.path
import posixpath
import pinax

SHOPPLEY_NUM = "6176829536"
# tells Pinax to use the default theme
PINAX_THEME = "default"

PINAX_ROOT = os.path.abspath(os.path.dirname(pinax.__file__))
PROJECT_ROOT = os.path.abspath(os.path.dirname(__file__))
# TODO: change this directory to your virtual environment path
PYTHON_ROOT = os.path.abspath("/Users/kwan/workspace/virtual/shoppley-env/lib/python2.7/site-packages")

STATICFILES_DIRS = [
	os.path.join(PROJECT_ROOT, "media"),
	os.path.join(PINAX_ROOT, "media", PINAX_THEME),
	os.path.join(PYTHON_ROOT, "uni_form", "media"),
]

FACEBOOK_APP_ID = "334812553169"
FACEBOOK_API_KEY = "334812553169"
FACEBOOK_SECRET_KEY = "cc8e1e8822e73d44451a8cbde73a354f"

# override DEBUG flags
DEBUG = True 
SMS_DEBUG = True 
TEMPLATE_DEBUG = DEBUG
# tells Pinax to serve media through django.views.static.serve.
SERVE_MEDIA = True 
EMAIL_DEBUG = DEBUG

DATABASES = {
    "default": {
#	"ENGINE": "postgresql_psycopg2",
        "ENGINE": "postgresql_psycopg2", # Add "postgresql_psycopg2", "postgresql", "mysql", "sqlite3" or "oracle".
        "NAME": "flashon",                       # Or path to database file if using sqlite3.
        "USER": "flashon",                             # Not used with sqlite3.
        "PASSWORD": "flashonnohsalf",                         # Not used with sqlite3.
#	"NAME": "flashon2",
#	"USER": "smengl",
#	"PASSWORD": "smenglon",
        "HOST": "",                             # Set to empty string for localhost. Not used with sqlite3.
        "PORT": "",                             # Set to empty string for default. Not used with sqlite3.
    }}
"""
    "test": {
        "ENGINE": "django.db.backends.postgresql_psycopg2", # Add "postgresql_psycopg2", "postgresql", "mysql", "sqlite3" or "oracle".
        "NAME": "shoppley",                       # Or path to database file if using sqlite3.
        "USER": "shoppley",                             # Not used with sqlite3.
        "PASSWORD": "shop_test",                         # Not used with sqlite3.
        "HOST": "",                             # Set to empty string for localhost. Not used with sqlite3.
        "PORT": "",                             # Set to empty string for default. Not used with sqlite3.
    }

"""


DEFAULT_FROM_EMAIL = "support@shoppley.com"
SERVER_EMAIL = DEFAULT_FROM_EMAIL
EMAIL_SUBJECT_PREFIX = "[ Shoppley ] "


