
body {
	background: transparent url(../../images/boram/bg.png);
	/*background: #F9F9F9;*/
	/*background-image:	-webkit-gradient(linear, 0% 0%, 0% 30%, from(#F2F2F2), to(#FFFFFF), color-stop(.6,#FFFFFF));

	border-top: 3px solid #DADA30;
*/}

/*.container {
	background-color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
}
*/
.logo {
	float: left;
}
.logo a img {
	padding-top: 10px;
}
#tabhead .login {
	float: right;
}

.header {
	padding-top: 10px;
}
.legal {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFF;
	padding: 40px 40px 60px 40px;
	border: 1px solid #D4DA30;
	margin-bottom: 20px;
}

a, a:active, a:visited {
	color: #35ACE4;
	text-decoration: none;
}

a:hover {
	color: #2E94C4; 	
	text-decoration: underline;
	}

a.shoppley-btn, input.shoppley-btn {
	background-color: #35ACE4;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#35ACE4), to(#2E94C4), color-stop(.6,#2E94C4));
	background-image: -moz-linear-gradient(0% 56% 270deg,#35ACE4, #2E94C4);
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	float: right;
	padding: 3px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:1px 1px 5px #9E9E9E;
	-moz-box-shadow:1px 1px 5px #9E9E9E;
	-webkit-box-shadow:1px 1px 5px #9E9E9E;

}
.fancy-text {
text-shadow: 0px 1px 3px #333333;
}


.last-call {
	font-weight: bold;
	color: #A80010;
}
.main-box {
		border: 1px solid #F3F3F3;
		background-color: #FFFFFF;

}

.main-box, .msg-box {
	margin-right: 15px;
}


.msg-box {
	background-color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 15px;
	border: 1px solid #DADA30;
	color: #666;
	margin-right: 0;	
}

.main-box, .side-bar {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 1px 2px #9E9E9E;
	-webkit-box-shadow: 0px 1px 3px #9E9E9E;
	-moz-box-shadow: 0px 1px 3px #9E9E9E;	
}

.main-box .main-content, .main-box .main-header, .side-bar .sub-header, .side-bar .sub-content {
	padding: 5px 15px;
}

.side-bar .sub-header {
	background-color: #DDD4D0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.main-box .main-header, .side-bar .sub-header {
	font-weight: bold;
	color: #474341;
}

.main-box .main-header {
	background-color: #F2EEEC;
}

.side-bar .sub-content {
	background-color: #797979;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

}

.side-bar .sub-content {
	color: #F2EEEC;
}


.clear {
	width: 100%;
	clear: both;
	float: none;
	height: 1px;
	border: none;
	margin: 8px;
}

.clear .no-height {
	margin: 0px;

}

.signup-header{
	padding: 15px 30px 15px 140px;
	color: #666666;
	font-size: 1.2em;
}

.signup-header span {
	color: #D4DA30;
	background-color: #FFFFFF;
	font-size: 1.5em;
	font-weight: bold;
}

.signup-header.customer {
	background: transparent url(../../images/boram/temp_customer_100.png) no-repeat;
}

.signup-header.merchant {
	background: transparent url(../../images/boram/temp_merchant_100.png) no-repeat;
}
.fb-connect {
	color: #666666;
	font-size: 1.2em;
	border-top: 1px solid #A8B2CE;
	border-bottom: 1px solid #A8B2CE;
	background-color: #EDEFF4;
	padding: 10px;
}
#fb-connect form.connect-button {
	margin-left: 300px;
	margin-top: 5px;
}

.signup-form.customer, .signup-form.merchant {
	padding: 15px 50px;
}

.signup-form.customer {
	padding: 5px 30px 50px 10px;
}
.signup-form.customer span.highlight {
	color: #666666;
	background-color: #f8f8da;	
	border:1px solid #DADA30; 
	font-size: 1.5em;
	font-weight: bold;
	line-height: 0em;
	float: left;
	padding: 20px;
}

.signup-form.customer .ctrlHolder, .signup-form.merchant .ctrlHolder {
	text-align: right;
	padding-bottom: 8px;
}
form#extra-info-form, form#cprofile_edit_form, form#mprofile_edit_form {
	text-align: right;
}

form#cprofile_edit_form, form#mprofile_edit_form {
	padding-right: 30px;
}

select#id_daily_limit {
	width: 176px;
}


form#extra-info-form {
	float: left;
	padding-bottom: 30px;
}


#offer_start_form label, #extra-info-form label, .signup-form.customer .ctrlHolder label, .signup-form.merchant .ctrlHolder label, .customer-profile-edit-form label, .merchant-profile-edit-form label {
	padding-right: 15px;
}
form#offer_start_form label {
	text-align: right;
	width: 50px;
}

.signup-form, .signup-form table {
	background-color: #FAFAFA;
}
.signup-form.customer .form_block, .signup-form.merchant .form_block {
	float: right;
}
.signup-form table td.labels {
	text-align: right;
	width: 100px;
}
.signup-form table tbody tr td {
	background-color: #FAFAFA;
}

.signup-form input {
	width: 180px;
}

.signup-buttons {
	padding-left: 110px;
}

.signup-forms {
	/*display: None;*/
	padding-top:20px;
	
}

.signup-blurb-wrapper img {
	padding-left: 40px;
}

.signup-form #merchant-cancel, .signup-form #customer-cancel {
	float:right;
	margin-top:15px;
}


.green-text {
/*	color: #D4DA30;*/
	font-size: 1.5em;
	font-weight: bold;
}

.italic-text {
	font-style: italic;
}

.bold-text {
	font-weight:bold;
}
.instruction {
	padding: 10px 10px 10px 215px;
	min-height: 180px;
	font-size: 1.3em;
	color: #666666;
}

#messages li, .error, .alert {
	background:#FEEDF4;
	border: 1px solid #FDD7E7;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 10px;
}


#get-offers {
	background: #FFFFFF url(../../images/boram/landing-customer-getoffers.png) no-repeat;	
}

#redeem-offers {
	background: #FFFFFF url(../../images/boram/landing-customer-redeemoffers.png) no-repeat;	
}

#share-offers {
	background: #FFFFFF url(../../images/boram/landing-customer-shareoffers.png) no-repeat;	
}

#merc-get-offers {
	background: #FFFFFF url(../../images/boram/landing-merchant-getoffers.png) no-repeat;	
}

#merc-redeem-offers {
	background: #FFFFFF url(../../images/boram/landing-merchant-redeemoffers.png) no-repeat;	
}

#merc-track-offers {
	background: #FFFFFF url(../../images/boram/landing-merchant-trackoffers.png) no-repeat;	
}
#get-offers, #redeem-offers, #share-offers, #merc-get-offers, #merc-redeem-offers, #merc-track-offers {
	background-position: top left;
}

#customer-step1 {
		background: transparent url(../../images/boram/customer_s1.png) no-repeat;
}

#customer-step2 {
		background: transparent url(../../images/boram/customer_s2.png) no-repeat;
}

#customer-step3 {
		background: transparent url(../../images/boram/customer_s3.png) no-repeat;
}
#merchant-step1 {
		background: transparent url(../../images/boram/merchant_s1.png) no-repeat;
}

#merchant-step2 {
		background: transparent url(../../images/boram/merchant_s2.png) no-repeat;
}

#merchant-step3 {
		background: transparent url(../../images/boram/merchant_s3.png) no-repeat;
}

#customer-step1, #customer-step2, #customer-step3, #merchant-step1, #merchant-step2, #merchant-step3 {
			background-position: top right;
					height: 160px;
					padding-right: 100px;
}

/*header login section fix */
div.login div#div_id_username.ctrlHolder, div.login div#div_id_password.ctrlHolder {
	padding-bottom: 0px;
}
p#hint_id_remember {
	display: none;
}
div#hint_id_remember {
	display: none;
}
div.login form.login-header-form fieldset.inlineLabels {
	width: 510px;
}
div.login form.login-header-form input#id_username, div.login form.login-header-form input#id_password {
	width: 95px;
}

div.login div#div_id_username, div.login div#div_id_password {
	float: left;
}
div#div_id_username label, div#div_id_password label {
	padding-right: 7px;
}
form.login-header-form div#div_id_password label {
	padding-left: 12px;
}

div#div_id_remember.checkbox {
	padding: 5px;
	float: left;
}
div.login form.login-header-form #div_id_remember.checkbox {
	padding-top: 7px;
}
div.login .form_block {
	float: right;
	margin-right: 80px;
}

#fb_login_button {
	float: right;
	margin-top: -20px;
}

.button-wrapper {
	padding-bottom: 50px;
}


/* /account/login/ , templates/account/login.html */
.login .ctrlHolder {
	text-align: right;
}

form.login #div_id_remember.checkbox {
	float: right;
}

form.login .form_block input {
	float: right;
} 

/*Front-Page*/
.landing h2 {
	border-bottom: 2px solid #CDCDCD;
}

.landing ul li ul {
	padding-left: 0px;
}

.landing ul li {
	padding: 8px;
	background-color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #DDDDDD;
	margin-bottom: 15px;

}

.landing ul li ul li {
	padding: 0;
	border: none;
	margin: 5px;
}

.landing ul li ul li:first-child {
	font-weight: bold;
	font-size: 1.2em;
}

.recent-merc ul li {
	height: 123px;
	padding-left: 180px;
	padding-bottom: 0;
}

.recent-merc ul li ul li {
	padding-left: 0px;
	height: 20px;
}
#cafe-luna {
	background: #FFF url(../../images/boram/new-merc/cafe-luna.png) no-repeat;
}
#harvest-of-india {
	background: #FFF url(../../images/boram/new-merc/harvest-of-india.png) no-repeat;
}
#momogoose {
	background: #FFF url(../../images/boram/new-merc/momogoose.png) no-repeat;
}

#yoshi {
	background: #FFF url(../../images/boram/new-merc/yoshi.png) no-repeat;
}

/*Customer Offers*/

.stats-box{
	padding: 8px;
}
.stats-box h3 {
	margin-bottom: 0.5em;
}
.stats span {
	font-size: 2em;
}
.used-count {
	color: red;
}
.expired-count {
	color: #CCCCCC;
}
.recvd-count {
	color: green;
}
.total-pt {
	color: purple;
}
.offer-block > * {
	display: block;
}

.offer-block {
	border-bottom: 1px solid #CCCCCC;
	display: block;
	float: none;
	padding: 10px 10px 0 10px;
}

.offer-title, .offer-type, .offer-biz-name, .offer-location {
	float: left;	
}
.social-share > * {
	float: left;
}

.social-share, .offer-get-it, .offer-time-left {
	float: right;
}
.social-share {
	margin-right: -35px;
}
.social-share table {
	margin-bottom: 0;
}
.social-share > table, th, td {
	vertical-align: top;
	padding: 0 0 0 0;
}

.offer-title {
	font-weight: bold;
	min-width: 400px; 
	font-size: 1.5em;
}

.offer-location, .offer-biz-name {
	width: 350px;
	padding-top: 5px;
}

.offer-biz-name a {
	padding: 5px 20px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	background-color: #bbbbbb;
	border: 1px solid #f3f3f3;
}
 .offer-get-it {
	padding:5px 10px;
}
.offer-time-left {
	padding: 0 10px 5px 10px;
}
.offer-location {
	min-height: 40px;	
}

.offer-type {
	background-image: url(http://placekitten.com/120/120);
	padding: 60px;
	margin-right: 10px;
}

/*sidebar*/
.current-offers-box, .offer-settings, .used-offers-box {
	padding: 8px;
}

/* for About Us page */
.about-header {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.about-person-box { 
	color: #000000;
	margin-bottom: 20px;
	background-color: #FFFFFF;
}

.about-person-header {
 /* border-bottom:1px solid #D4DA30; */ 
  font-size: 1.2em;
	color: #333333;
	padding: 10px 10px 5px 10px;
	font-weight: bold;
	background-color: #FFFFFF;
	/*margin-bottom: 10px;*/
}


.about-person-body {
  padding: 0 20px 10px 151px;
	min-height: 131px;
}

#kwan {
	background: url(../../images/boram/kwan.png) 10px 5px no-repeat;
}

#dawei {
	background: url(../../images/boram/dawei.png) 10px 5px no-repeat; 
}

#doug {
	background: url(../../images/boram/doug.png) 10px 5px no-repeat;
}
#boram {
	background: url(../../images/boram/boram.png) 10px 5px no-repeat;
}
#meng {
	background: url(../../images/boram/meng.png) 10px 5px no-repeat;
}
#yod {
	background: url(../../images/boram/yod.png) 10px 5px no-repeat;
}
#eunice {
	background: url(../../images/boram/eunice.png) 10px 5px no-repeat;
}
/* for FAQ page */
.faq-section {
  margin-top: 15px;
}

.faq-question {
  font-weight: bold;
  font-size: 1.2em;
}

.faq-answer {
  padding-top: 5px;
}

.content-wrapper {
  margin-bottom: 20px;
}

/* for Privacy page */
.privacy-section-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

.privacy-effective {
	color: #999;
	font-style: italic;
	margin-bottom: 15px;
}

/* for Terms page */
.terms-section-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

/* for Feedback tab */
#feedback {
  position: fixed;
  top: 45%;
  left: 0px;
}

#feedback-tab {
  background-color: #35ACE4;
  background-image: url("/site_media/static/images/feedback_tab_white.png");
  background-repeat: no-repeat;
  background-position: 2px 50%;
  border: 2px solid  #EEEEEE;
  border-left: none;
	-webkit-box-shadow: 1px 0 1px 2px #cccccc;
	-moz-box-shadow: 1px 0 1px 2px #cccccc;
	box-shadow: 1px 0 1px 2px #cccccc;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  z-index: 100001;
  text-indent: -9000px;
  height: 100px;
  width: 26px;
  min-height: 100px;
  min-width: 26px;
  position: fixed;
  vertical-align: baseline;
}

#feedback-tab:hover {
  background-color: #ED5F87;
  border: 2px solid #EEEEEE;
  border-left: none;      
  cursor: pointer;
}

/* Profile Settings - Customer*/

.profile-settings {
	padding: 5px 10px 10px 10px;
}

.profile-settings ul {
	padding-left: 0;
	margin-bottom: 0;
} 

.profile-settings-label {
	color: #666666;
}

.profile-settings-value {
	font-size: 1.5em;
	font-weight: bold;
	color: #80C247;
}

h3 {
	color: #666666;
}

.txt-commands-wrapper {
  margin-top: 20px;
}

.txt-command {
  font-size: 1.1em;
	font-weight: bold;
	color: #000;
}

.txt-param {
  font-size: 1.1em;
  font-style: italic;
	color: #000;
}

.txt-command-description {
}

.txt-command-item {
  margin-bottom: 15px;
}

.txt-command-result {
  color: #AAA;
}

.txt-command-example {
  font-family: Monospace, courier;
}

.message
{
                -webkit-background-size: 40px 40px;
                -moz-background-size: 40px 40px;
                background-size: 40px 40px;
                background-image: -webkit-gradient(linear, left top, right bottom,
                                                        color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                                                        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                                                        color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                                                        to(transparent));
                background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                 -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
                 -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
                 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
                 width: 100%;
                 border: 1px solid;
                 color: #fff;
                 padding: 15px;
                 position: fixed;
                 _position: absolute;
                 text-shadow: 0 1px 0 rgba(0,0,0,.5);
                 -webkit-animation: animate-bg 5s linear infinite;
                 -moz-animation: animate-bg 5s linear infinite;
}

.info
{
                 background-color: #4ea5cd;
                 border-color: #3b8eb5;
}

.error
{
                 background-color: #de4343;
                 border-color: #c43d3d;
}

.warning
{
                 background-color: #eaaf51;
                 border-color: #d99a36;
}

.success
{
                 background-color: #61b832;
                 border-color: #55a12c;
}

.message h3
{
                 margin: 0 0 5px 0;
		color: white;
}

.message p
{
                 margin: 0;
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


