{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Privacy" %}{% endblock %}

{% block body %}

<div class="span-24 last ">
	<h2>{% trans "Shoppley Privacy Policy" %}</h2>

<div class="span-24 privacy-effective last">
Effective on August 7, 2011.
</div>

<div class="span-24 content-wrapper last">
<p>
Welcome to the Shoppley website (www.shoppley.com or the "Website"). This written policy (the "Privacy Policy") is designed to tell you about our practices regarding collection, use, and disclosure of information that you may provide via this Website and certain related services. Please be sure to read this entire Privacy Policy before using, or submitting information, to this Website.
<p>

<p>
We collect this information to personalize your experience, improve our web site, improve customer service, and to periodically contact you via email. You acknowledge that you accept the practices described in this Privacy Policy by visiting shoppley.com.
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Account Information
</div>
</div>

<p>
Account information includes, but is not limited to, the following data:
<p>

<ul>
	<li>Email address</li>
	<li>Phone number</li>
	<li>Zip code</li>
	<li>Address</li>
	<li>Businesses on Shoppley can see the usernames of people that have redeemed offers at the business.</li>
</ul>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Businesses Information
</div>
</div>

<p>
We collect business information, including but not limited to, the following data:
<p>

<ul>
<li>Business name</li>
<li>Address</li>
<li>Phone number</li>
<li>Web Address</li>
<li>Business categories</li>
</ul>

<p>
We believe it's in businesses' best interest to make this data as widely available as possible so that the business can get more exposure to customers. Consequently, we treat this information as public and make it available to anyone on our site as well as make it available offsite to other companies such as search engines.
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Activity and Log Data
</div>
</div>

<p>
We store Shoppley users' log and activity information including but not limited to the following data:
<p>

<ul>
<li>Pages viewed</li>
<li>Browser type</li>
<li>IP address</li>
<li>Requested URL</li>
<li>Browser language</li>
<li>Referring URL</li>
<li>Date and time</li>
</ul>

<p>
We use this information to improve our site and service.
<p>


<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Transfer of Information
</div>
</div>

<p>
We use third party providers for the following services:
<p>

<ul>
<li>Host our web servers</li>
<li>Perform tracking and reporting</li>
</ul>

<p>
We may share information with these providers but they are not permitted to use your personal information other than to enable Shoppley to function. We will not sell, rent, or otherwise provide Account Information or Transaction Information to any third party, except as otherwise described in this privacy policy.
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Aggregate Information
</div>
</div>

<p>
We maintain the option to share non-personal information, in the aggregate, to help current or potential business relationships and to promote Shoppley. Examples include, the total number of users on Shoppley and the total number of businesses on Shoppley.
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Cookies
</div>
</div>

<p>
Cookies are small files that Shoppley transfers to your computer's hard drive through your Web browser (if you allow this) that enables Shoppley to recognize your browser and capture and remember certain information. Our cookies are linked to your login information so that you can use Shoppley from your computer throughout the day without logging in each time you visit us.
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Feedback
</div>
</div>

<p>
We welcome your feedback. Feel free to submit enhancement requests, register complaints or ask questions by e-mailing <a href="mailto:support@shoppley.com">support@shoppley.com</a>.   
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Investigations
</div>
</div>

<p>
We may disclose information about our users to third parties if we have a good faith belief that such disclosure is reasonably necessary to:
<p>

<ul>
<li>Take action regarding suspected illegal activities</li>
<li>Enforce or apply our Terms of Service</li>
<li>Comply with legal process and law enforcement instructions and orders including but not limited to warrants, subpoenas, statutes, judicial proceedings</li>
<li>Protect our rights, reputation and property or that of our users, affiliates or the public</li>
</ul>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Links
</div>
</div>

<p>
Our site may contain links to third party web sites which may or may not have affiliation with. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. We do not share your personal information with those third parties except as discussed in this document.
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Children
</div>
</div>

<p>
Our website, products and services are directed to people who are at least 13 years old or older. If you become aware that your child has provided us with personal information without your consent, please contact us at privacy@shoppley.com. If we become aware that a child under 13 has provided us with personal information without parental consent, we take steps to remove such information and terminate the child's account.
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Security
</div>
</div>

<p>
We follow generally accepted industry standards to protect the personal information submitted to us. No method of transmission over the Internet or method of electronic storage, is 100% secure, however. Therefore we cannot guarantee its absolute security. These security measures include: password protected directories and databases to safeguard your information and SSL (Secure Sockets Layered) technology to ensure that your information is fully encrypted when sent across the Internet.
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Opt-Out Procedures
</div>
</div>

<p>
You may always opt-out of receiving communications from us. To not receive future e-mail communications from Shoppley, please go to www.shoppley.com or contact us at 1-617-871-0710, Mon-Fri: 7am - 8pm CST and Sat: 8am - 12pm CST. 
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Dispute Resolution
</div>
</div>

<p>
You may contact us at the following address for any disputes:
<p>

<div class="prepend-1 span-24 last">
Attn: Privacy Officer<br>
20 Watertown St. #207<br>
Watertown, MA 02472<br>
United States of America<br>
Email: <a href="mailto:privacy@shoppley.com">privacy@shoppley.com</a><br>
</div>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Terms of Service
</div>
</div>

<p>
Please also visit our Terms of Service page establishing the use, disclaimers, and limitations of liability governing the use of our website at <a href="http://www.shoppley.com/about/terms/">Terms of Service</a>.
<p>

<div class="span-24 last">
<div class="span-12 privacy-section-title last">
Modifications to this Statement
</div>
</div>

<p>
The most current version of our Privacy Policy will govern our use of your information and will always be located here. If we decide to make a material change to our Privacy Policy we will notify you by either prominently posting a notice on our home page or by send a message to the email associated with your account. By continuing to access or use Shoppley after those changes become effective, you agree to be bound by the updated Privacy Policy.
<p>
</div><!-- content-wrapper -->

</div>

{% endblock %}
