{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}

<hr class="space">

<div class="span-24 last">

	<h2>Shoppley {% trans "Terms of Service" %}</h2>
		
	<div class="span-24 privacy-effective last">
		Last updated on August 7, 2011
	</div>
    
  <div class="content-wrapper span-24 last">

	<!--
  <p>
  </p>
    <p>
    Shoppley is currently in Alpha and the service is made free to use by anybody. We would like to receive your feedback.  You may unsubscribe at any time.  Txt messages are sent to your phone number and your friends get automatically signed up if they get offers forwarded by you.  However, if they do not login and verify their account after receiving offer from you, they will not be receiving regular offers from Shoppley.
    </p>
	<p>
	Regular txt messages are charged by your mobile operator if you are not subscribed to unlimited txt message service plan.
	</p>
    <p>
Shoppley will not share any of your contacts with any other third parties.  Your username will be visible to the businesses participating in Shoppley, but your phone numbers or e-mail will not be visible to them.
    </p>

	-->

Welcome to Shoppley! Shoppley provides its services to you subject to the following Terms of Service ("TOS"), which may be updated by us at any time without notice to you. Changes will be effective upon the posting of the new TOS. You can review the most current version of the TOS at any time at <a href="http://www.shoppley.com/about/terms/">Terms of Service</a>. You should revisit this page on a regular basis as revised versions will be binding on you. You agree that your use of Shoppley after any changed TOS indicates your acceptance of the updated version.

<div class="span-24 last">
<div class="terms-section-title">
Definitions
</div>
</div>

<ul>
<li>A "user" is someone who browses, accesses, scrapes, crawls or in any way uses Shoppley.</li>
<li>"You" and "Your" refer to you, a user of Shoppley.</li>
<li>"We", "us", "our", and "Shoppley" refer to Shoppley, Inc., a Delaware corporation.</li>
<li>"Services" refers to all services provided by Shoppley, Inc. including its web site.</li>
<li>"Content" includes text, audio, video, images, photos and all other forms of data communication.</li>
<li>"Business" is a company that's using Shoppley services.</li>
<li>"Customer" is a person that is a customer of a business on Shoppley and that allows the business to have his or her email address.</li>
<li>"Employee" is an employee of a business that's using our services.</li>
<li>"Contact information" includes a person's or business' email addresses, phone number and physical address.</li>
<li>"Messages" include emails and text messages.</li>
<li>"Reward program" includes all aspects of a business' reward system on Shoppley including its definitions for how customers earn and redeem points and its granting and redeeming of customers' points.</li>
</ul>


<div class="span-24 last">
<div class="terms-section-title span-12 last">
Eligibility
</div>
</div>
You warrant that the following is true. You:

<ul>
<li>Haven't been removed or suspended from Shoppley</li>
<li>Do not have more than one Shoppley account at any given point in time</li>
<li>Are not a competitor of Shoppley</li>
<li>Have full power and authority to enter into these TOS</li>
<li>Will not violate any other agreement which you are a party</li>
</ul>


<div class="span-24 last">
<div class="terms-section-title span-12 last">
Using Shoppley
</div>
</div>

You agree to the following when using Shoppley:

<ul>
<li>You are of legal age to form a binding contract.</li>
<li>You are not a person barred from receiving Shoppley services under the laws of the United States or other applicable jurisdiction.</li>
<li>If you represent a business on Shoppley, then you are an authorized representative of the business.</li>
<li>You agree to provide true, accurate, current and complete information about yourself or the business you represent as prompted by Shoppley.</li>
<li>You are responsible for maintaining the confidentiality of your account password.</li>
<li>You are responsible for all activities that occur in connection with your account.</li>
<li>You agree to notify us immediately of any unauthorized use of your account.</li>
<li>You are not impersonating someone else.</li>
<li>You are not creating multiple accounts.</li>
<li>You are not creating multiple business accounts for the same business.</li>
<li>We reserve the right to close your account at any time for any or no reason.</li>
</ul>

<div class="span-24 last">
<div class="terms-section-title span-12 last">
Spam
</div>
</div>
Shoppley may not be used for sending unsolicited messages ("spam") or for hosting of illegal or prohibited content. We closely monitor activity on Shoppley to identify potential spammers. Any business or user found to be using Shoppley to spam will have their account closed. You can contact us at abuse@shoppley.com if you suspect any violators of this policy.

Businesses can give points to their customers through Shoppley. By accepting this TOS, you agree to the following:

<ul>
<li>You will only grant and redeem points if you are representing a legitimate and real business.</li>
<li>You will only grant and redeem points to customers that have knowingly and voluntarily given you their contact information for the purpose of receiving rewards.</li>
<li>You will fully notify the customer of the collection and use of their contact information.</li>
<li>You will not grant or redeem points to non-specific contact information such as sales@domain.com, business@domain.com, webmaster@domain.com and info@domain.com.</li>
</ul>


<div class="span-24 last">
<div class="terms-section-title span-12 last">
Rights and Restrictions on Use
</div>
</div>

<div class="span-24 last">
Shoppley is protected by trade secret and other intellectual property laws. You are only granted the right to use its services and Shoppley reserves all rights of ownership in the services not granted to you in writing here.

Shoppley grants to you a personal, limited, nonexclusive, nontransferable right to use the services that is valid only for the period of use while your account is active, your payment obligations to Shoppley are met and only for the purposes described by Shoppley on its web site.

You agree not to use the services or content on this web site in a manner that violates any applicable law, regulation or this agreement. For example, unless authorized by Shoppley in writing, you agree you will not:

<ul>
<li>Provide access to or give any part of the services to any third party.</li>
<li>Duplicate, copy, desconstruct, sell, trade, resell or reproduce the services unless otherwise authorized in writing by Shoppley.</li>
<li>Attempt to access any other Shoppley systems that are not part of its services.</li>
<li>Excessively overload Shoppley systems.</li>
</ul>


If you violate any of these terms, this agreement and your right to use the services may be terminated by Shoppley in its sole discretion.
</div>

<div class="span-24 last">
<div class="terms-section-title">
Content
</div>
</div>

<div class="span-24 last">
You are legally responsible for all content you upload, post, store or write on Shoppley. You will not hold Shoppley responsible for any content that is lost or unrecoverable through the use of our services. Any users suspected of having information which involves fraud, embezzlement, money laundering, insider trading, support for terrorism or any other activity proscribed by law may have their accounts terminated, their content erased and they may also be reported to law enforcement officials in the appropriate jurisdictions.
</div>

<div class="span-24 last">
We are not responsible for the content you submit on Shoppley. You agree not to use the services to upload, post, distribute, link to, publish, reproduce, engage in or transmit any of the following, including but not limited to:
</div>

<ul>
<li>Fraudulent, illegal, defamatory, libelous, obscene, pornographic, profane, threatening, abusive, hateful, offensive, harassing, inappropriate or objectionable content of any kind, including without limitation conduct that would encourage or constitute an attack or "flaming" others, or criminal or civil liability under any local, state, federal or foreign law.</li>
<li>Content or data that would impersonate someone else or falsely represent your identity or qualifications, or that constitutes a breach of any individual's privacy, including posting images about children or any third party without their consent (or a parent's consent in the case of a minor).</li>
<li>Virus, Trojan horse, worm or other disruptive or harmful software.</li>
<li>Any information, software or content which is not legally yours and may be protected by copyright or other proprietary right or derivative works without permission from the copyright owner or intellectual property rights owner.</li>
</ul>

<div class="span-24 last">
<div class="terms-section-title">
Account Information
</div>
</div>

<div class="span-24 last">
You are responsible for updating and maintaining the accuracy and confidentiality of the account information you provide to us.
</div>

<div class="span-24 last">
Shoppley will place a cookie on any computer from which you login to Shoppley. When you revisit Shoppley, this cookie will enable us to recognize you as the account holder and provide you with direct access to your account without you having to retype your password. To prevent someone else from accessing your account on a computer that you use, you agree to exit from your account at the end of each session if you expect someone else to use the computer from which you logged into Shoppley.
</div>
<div class="span-24 last">
You agree to immediately notify Shoppley of any unauthorized use of your password or account or any other breach of security.
</div>
<div class="span-24 last">
You agree that Shoppley cannot and will not be liable for any loss or damage arising from your failure to comply with this section.
</div>

<div class="span-24 last">
<div class="terms-section-title">
Inactive User Accounts and Businesses
</div>
</div>

<div class="span-24 last">
We reserve the right to terminate unpaid accounts and businesses that are inactive for a continuous period of 120 days. We reserve the right to delete all data associated with such accounts and businesses.
</div>

<div class="span-24 last">
<div class="terms-section-title span-12 last">
Cancelling the Service
</div>
</div>

<div class="span-24 last">
You may cancel the service at any time, with or without cause by emailing cancel@shoppley.com. Cancellation will not alter your obligation to pay all charges made to your account.
</div>

<div class="span-24 last">
<div class="terms-section-title span-12 last">
Content ownership
</div>
</div>

<div class="span-24 last">
We respect your right to ownership of content you provide to Shoppley. You grant Shoppley a nonexclusive, irrevocable, worldwide, perpetual, unlimited, assignable, sublicenseable, fully paid up and royalty-free right to copy, prepare derivative works of, improve, distribute, publish, remove, retain, add, process, analyze, use and commercialize the content, ideas, concepts and techniques you submit to Shoppley, without any further consent, notice and/or compensation to you or to any third parties.
</div>

<div class="span-24 last">
<div class="terms-section-title span-12 last">
Privacy Policy
</div>
</div>

You understand that through your use of Shoppley, you consent to the collection and use of certain information as described in Shoppley's privacy policy located here: <a href="http://www.shoppley.com/about/privacy">Privacy Policy</a>.

<div class="span-24 last">
<div class="terms-section-title span-12 last">
Reward Programs
</div>
</div>

You agree to the following terms regarding reward programs submitted by businesses on Shoppley:

<ul>
<li>Businesses reserve the right, at their sole discretion, to modify, add, or remove any portion of their reward program, in whole or in part, at any time.</li>
<li>Businesses may change, suspend, or discontinue any aspect of their reward program at any time or terminate it at any time. Businesses may, at their sole discretion, cancel your membership in their rewards program at any time.</li>
<li>Businesses, in their sole discretion, may determine that certain services or items are not eligible for point accumulation. Businesses may change their list without notice.</li>
<li>Businesses are not responsible for unredeemed points or points which are lost.</li>
<li>Businesses make no warranty and disclaim all responsibility and liability for the completeness, accuracy, availability and timeliness of their reward program.</li>
<li>You will not hold Shoppley responsible for the behavior of businesses on Shoppley.</li>
<li>Reward programs on Shoppley are provided by businesses "AS IS". To the fullest extent permissible by law, businesses make no representation or warranties of any kind whatsoever for their reward program on Shoppley unless otherwise stated by the business. Businesses assume no responsibility and shall not be liable for any damages resulting from use of their reward program and any items obtained through their reward program. Businesses shall not be liable for any failure of their reward program which results from acts or events beyond businesses' reasonable control.</li>
<li>In no event shall businesses be liable for any direct, indirect, special, punitive, consequential or other damages arising out of your use of their reward program.</li>
<li>Businesses' failure to enforce any right or provision of this TOS will not be deemed a waiver of such right or provision.</li>
</ul>


<div class="span-24 last">
<div class="terms-section-title span-12 last">
Fees
</div>
</div>

<ul>
<li>If paying with a credit or debit card, you must pay with a valid credit or debit card acceptable to Shoppley unless notified by Shoppley in writing that a different payment method is acceptable.</li>
<li>If paying by invoice, terms are NET 30 days from date of invoice subject. Payments that are delinquent 30 days or more from date of invoice are subject to interest charges at 18% per year but not exceeding the maximum lawful rate.</li>
<li>We may suspend or terminate your account and refuse any use of our services if your payment and/or registration information is not accurate, current or complete.</li>
<li>We will automatically renew your rental at the current rates unless you cancel the rental or it is terminated under this agreement.</li>
<li>We do not provide refunds or credits for a partial-month rental periods or unused terms.</li>
<li>Additional cancellation or renewal terms may be provided to you on the web site for the services.</li>
</ul>


<!--
Trial Period
If you register for a trial use of the services, you must decide to subscribe to the services within the trial period in order to retain any content that you have posted or uploaded during the trial period. If you do not subscribe to the services by the end of the trial period, your content may no longer be available to you and Shoppley will not be responsible for it.
-->

<div class="span-24 last">
<div class="terms-section-title span-12 last">
Indemnity
</div>
</div>

<div class="span-24 last">
You agree to indemnify and hold Shoppley and its subsidiaries, affiliates, officers, agents, employees, partners and licensors harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of content you submit, post, transmit, modify or otherwise make available through Shoppley services, your use of the Shoppley services, your violation of the TOS or your violation of any rights of another.
</div>

<div class="span-24 last">
<div class="terms-section-title span-12 last">
DISCLAIMER
</div>
</div>
<div class="span-24 last">
DO NOT RELY ON SHOPPLEY, ANY INFORMATION THEREIN, OR ITS CONTINUATION. WE PROVIDE THE PLATFORM FOR SHOPPLEY AND ALL INFORMATION AND SERVICES ON AN "AS IS" AND "AS AVAILABLE" BASIS. WE DO NOT PROVIDE ANY EXPRESS WARRANTIES OR REPRESENTATIONS.
</div>

<div class="span-24 last">
TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, WE DISCLAIM ANY AND ALL IMPLIED WARRANTIES AND REPRESENTATIONS, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT. IF YOU ARE DISSATISFIED OR HARMED BY PERKVLLE OR ANYTHING RELATED TO SHOPPLEY, YOU MAY CLOSE YOUR SHOPPLEY ACCOUNT AND TERMINATE THIS AGREEMENT AND SUCH TERMINATION SHALL BE YOUR SOLE AND EXCLUSIVE REMEDY. SHOPPLEY SHALL NOT BE RESPONSIBLE FOR LOSS OR DAMAGE TO A BUSINESS' PROPERTY OR INJURY OR DEATH TO PERSONS.
</div>

<div class="span-24 last">
SHOPPLEY IS NOT RESPONSIBLE, AND MAKES NO REPRESENTATIONS OR WARRANTIES FOR REWARD PROGRAMS OF BUSINESSES ON SHOPPLEY. IN ADDITION, WE NEITHER WARRANT NOR REPRESENT THAT YOUR USE OF THE SERVICE WILL NOT INFRINGE THE RIGHTS OF THIRD PARTIES. ANY MATERIAL, SERVICE, OR TECHNOLOGY DESCRIBED OR USED ON THE WEBSITE MAY BE SUBJECT TO INTELLECTUAL PROPERTY RIGHTS OWNED BY THIRD PARTIES WHO HAVE LICENSED SUCH MATERIAL TO US, SERVICE, OR TECHNOLOGY.
</div>

<div class="span-24 last">
SHOPPLEY DOES NOT HAVE ANY OBLIGATION TO VERIFY THE IDENTITY OF THE PERSONS SUBSCRIBING TO ITS SERVICES, NOR DOES IT HAVE ANY OBLIGATION TO MONITOR THE USE OF ITS SERVICES BY OTHER USERS OF THE COMMUNITY; THEREFORE, SHOPPLEY DISCLAIMS ALL LIABILITY FOR IDENTITY THEFT OR ANY OTHER MISUSE OF YOUR IDENTITY OR INFORMATION.
</div>

<div class="span-24 last">
SHOPPLEY DOES NOT GUARANTEE THAT THE SERVICES IT PROVIDES WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS IN FUNCTIONING. IN PARTICULAR, THE OPERATION OF THE SERVICES MAY BE INTERRUPTED DUE TO MAINTENANCE, UPDATES, OR SYSTEM OR NETWORK FAILURES. SHOPPLEY DISCLAIMS ALL LIABILITY FOR DAMAGES CAUSED BY ANY SUCH INTERRUPTION OR ERRORS IN FUNCTIONING. FURTHERMORE, SHOPPLEY DISCLAIMS ALL LIABILITY FOR ANY MALFUNCTIONING, IMPOSSIBILITY OF ACCESS, OR POOR USE CONDITIONS OF THE SHOPPLEY SITE DUE TO INAPPROPRIATE EQUIPMENT, DISTURBANCES RELATED TO INTERNET SERVICE PROVIDERS, TO THE SATURATION OF THE INTERNET NETWORK, AND FOR ANY OTHER REASON.
</div>

<div class="span-24 last">
<div class="terms-section-title span-12 last">
Limitation of Liability
</div>
</div>

<div class="span-24 last">
Neither Shoppley nor any of our affiliated companies, employees, shareholders, or directors shall be liable for (a) any damages in excess of five times the most recent monthly fee that you paid for a service, if any, or US $200, whichever amount is greater, or (b) any special, incidental, indirect, punitive or consequential damages or loss of use, profit, revenue or data to you or any third person arising from your use of the service or any of the content or other materials on, accessed through or downloaded from Shoppley. This limitation of liability shall:
</div>

<div class="span-24 last">
Apply regardless of whether (1) you base your claim on contract, tort, statute or any other legal theory, (2) we knew or should have known about the possibility of such damages, or (3) the limited remedies provided in this section fail of their essential purpose; and
Not apply to any damage that Shoppley may cause you intentionally or knowingly in violation of this agreement or applicable law, or as otherwise mandated by applicable law that cannot be disclaimed from in this Agreement.
</div>

<div class="span-24 last">
<div class="terms-section-title span-12 last">
General
</div>
</div>
<div class="span-24 last">
These TOS will be governed by and construed in accordance with the laws of the State of Massachusetts, without giving effect to its conflict of laws provisions or your actual state or country of residence. If for any reason a court of competent jurisdiction finds any provision or portion of the TOS to be unenforceable, the remainder of the TOS will continue in full force and effect. These TOS constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral, regarding such subject matter (including, but not limited to, any prior versions of the TOS). Any waiver of any provision of the TOS will be effective only if in writing and signed by an authorized representative of Shoppley.
</div>

Questions about the TOS should be addressed to terms@shoppley.com or by mail at: Shoppley, Inc., 20 Watertown St. #207, Watertown, MA 02472 USA.

Questions about billing should be addressed to billing@shoppley.com.

  </div><!-- content-wrapper span-24 -->

</div><!-- main top span-24 -->


{% endblock %}
