{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
<html lang="en">

  {% block body %}

  	
    <div class="container">
   
    	<div class="span-17 last">
    		<h2 class="alt msg-box">thank you for signing up our beta sms service! <br/>
    			our fancy web site is coming soon, enjoy txt offers in the meantime.</h2>
    	</div>
     	      <div class="clear">&nbsp;</div>
    	<div class="span-24">
    		<div class="main-box">
    			<div class="instruction" id="get-offers">
    				<span class="green-text">Getting Offers</span>
    				<div>
    					<ol>
    						<li>Save 508-690-0888 in your cellphone as shoppley.</li>
    						<li>You will start receiving offers as many or as little as you want.</li>
    						<li>Txt &lsquo;info&rsquo; with your offer code to shoppley for details of the offer.</li>
    					</ol>
    					
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
       		<div class="clear">&nbsp;</div>
       		<div class="main-box">
    			<div class="instruction" id="redeem-offers">
    				<span class="green-text">Redeeming Offers</span>
    				<div>
    					<ol>
    						<li>Show up to the store before the offer expires.</li>
    						<li>Tell the staff your offer code and cellphone number.</li>
    						<li>Enjoy!</li>
    					</ol>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
       		<div class="clear">&nbsp;</div>
       		<div class="main-box">
    			<div class="instruction" id="share-offers">
    				<span class="green-text">Sharing Offers</span>
    				<div>
    					<ol>
    						<li>Txt &lsquo;forward&rsquo; and your offer code to shoppley with your friends' cellphone numbers. Include as many numbers as you'd like.</li>
    						<li>Your friends will receive new personalized codes.</li>
    						<li>Now they can enjoy the same offer too!</li>
    					</ol>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
    	</div>
    	    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
      	<div class="footer">
      		<div class="span-4">
      			<a href="#">About Us</a>	
      		</div>
      		<div class="span-4">
      			<a href="#">Terms of Service</a>	
      		</div>
      		<div class="span-4">
      			<a href="#">Privacy Policy</a>	
      		</div>
      		<div class="span-4">
      			<a href="#">Feedback</a>	
      		</div>
      		<div class="span-4 last">
      			<a href="#">Blog</a>	
      		</div>
      		<div class="clear">&nbsp;</div>
      	</div>
      </div>
  {% endblock %}
</html>
