{% load i18n %}
<div class="offer-block">
				<div class="offer-type">
					<!--	{% trans "food" %}-->
        </div>
				<div class="offer-title">
					{{ title|truncatewords:20 }}
				</div>
				<div class="offer-biz-name">
					{{ biz_name }}
				</div>
				<div class="offer-location">
					<p>
						{{ location }}	
					</p>
				</div>
				<div class="offer-time-left">
                <p>
					{{ time_left }}
                </p>
        </div>
				<div class="offer-get-it">
                <p>
						{% trans "287421" %}
                </p>
        </div>
				<div class="offer-misc">
                <p>
		
                </p>
        </div>
	<div class="clear">&nbsp;</div>

</div>
	<div class="clear">&nbsp;</div>


