{% load i18n %}
<div class="offer-block">
        <div class="customer-offer-info" style="float:left;width: 80%;">
                {{ title }}</br>
		{{ biz_name }}
	
        </div>

        <div class="customer-offer-thumbs" style="float: left;width: 20%;">
		button1</br>
		button2
        </div>

	<div class="clear">&nbsp;</div>
	<div class="customer-offer-reviews">
		<div class="stars" style="float: left; width: 20%;">
                stars
		</div>
		<div class="reviews" style="float: left; width: 30%;">
                reviews
		</div>
		<div class="redeem_time" style="float: left; width: 50%;">
                {{ redeem_time }}
                </div>

        </div>

	<div class="clear">&nbsp;</div>
</div>


