{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "My Offers" %}{% endblock %}

{% block body %}

	<h1>{% trans "My Offers" %}</h1>

	<div class="customer-incentive-explanation">
	Every time you redeem an offer you will receive <b>5 points</b>.<br> 
	Future: Merchants will announce offers redeemable with points.<br>
	</div>

	<hr class="space">

	<div class="top-dash span-24 last">
		<div class="left-dash span-12">
			<div class="heading ui-widget-header span-12 last">
				Received Offers
			</div>
			<div class="ui-widget-content offers-min-height span-12 last">
			  {% for o in offers_received %}
			  <div class="item span-12 last">
				<div class="span-3">
				  {{ o.offer.merchant.business_name }}
				</div>
				<div class="span-3">
				  {{ o.offer.name }}
				</div>
				<div class="span-3">
				  {{ o.offer.description }}
				</div>
				<div class="span-3 last">
				  {{ o.expiration_time|date:"M d, y f A" }}
				</div>
			  </div>
			  {% endfor %}
			</div>
		</div>

		<div class="right-dash span-12 last">
			<div class="heading ui-widget-header span-12 last">
				Redeemed Offers
			</div>
			<div class="ui-widget-content offers-min-height span-12 last">
			  {% for o in offers_redeemed %}
			  <div class="item span-12 last">
				<div class="span-3">
				  {{ o.offer.merchant.business_name }}
				</div>
				<div class="span-3">
				  {{ o.offer.name }}
				</div>
				<div class="span-3">
				  {{ o.offer.description }}
				</div>
				<div class="span-3 last">
				  {{ o.redeem_time }}
				</div>
			  </div>
			  {% endfor %}
			</div>
		</div>
	</div> <!-- top-dash -->

	<hr class="space">

	<div class="bottom-dash span-24 last">
		<div class="left-dash span-12">
			<div class="heading ui-widget-header span-12 last">
				Featured: Would you like to add to your offers?	
			</div>
			<div class="features ui-widget-content offers-min-height span-12 last">
				{% for f in featured %}
				  {% if forloop.first %}
					<div class="span-12 last">
					  <div class="span-4">
						Image
					  </div>
					  <div class="span-8 last">
						<div class="merchant-name span-8 last">
						  {{ f.merchant.business_name }}
						</div>
						<div class="merchant-highlight span-8 last">
						  {{ f.description }}
						</div>
					  </div>
					</div>
				  {% else %}
					<div class="span-12 last">
					  <div class="span-4">
						Small Image
					  </div>
					  <div class="merchant-name span-8 last">
						{{ f.merchant.business_name }}
					  </div>
					</div>
				  {% endif %}
				{% endfor %}
			</div>

		</div>

		<div class="right-dash span-12 last">
			<div class="heading ui-widget-header span-12 last">
				Link your credit card for more personalized offers
			</div>
			<div class="buxfer-form ui-widget-content offers-min-height span-12 last">
			  <div class="sub-comment">Receive 50 points when you link Buxfer account.</div>
			  <hr class="space">	
			  <form class="linkbuxfer uniForm" id="linkbuxfer-form" method="post" action="{% url link_buxfer %}">

				<fieldset class="inlineLabels">
				  {{ buxfer_form|as_uni_form }}
				</fieldset>
				<div class="form_blick push-8">
					<input type="submit" value="{% trans "Link Buxfer &raquo;" %}" />
				</div>
			  </form>

			</div>
		</div>


	</div> <!-- bottom-dash -->


	

{% endblock %}
