{% load i18n %}
<div class="offer-block main-box" id="offer_{{ id }}">
	<!--div class="clear">&nbsp;</div-->
				<div class="offer-type">
					<!--	{% trans "food" %}-->
        </div>
		<div class="offer-title">
			<a href="{% url customer_offer id %}">{{ title|truncatewords:20 }} </a>
		</div>
		<div class="offer-biz-name">
		 <a href="#">{{ biz_name }}</a>
		</div>
		<div class="offer-get-it">
		offer code	<strong>{% trans "287421" %}</strong>
		</div>

		<div class="offer-location">
				{{ location }}	
		</div>
		<div class="offer-time-left">
			 
			time left	<strong>{{ time_left }}</strong>
			
	        </div>
		<div class="social-share">
		<table>
			<tr>
				<td style="padding-right: 13px;">
				<a name="fb_share" type="button_count" share_url="{{ site }}{% url customer_offer id %}" href="http://www.facebook.com/sharer.php?u={{ site }}{% url customer_offer id %}&amp;src=sp" style="text-decoration: none; "></a>
				<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
			</td>
			<td>
				<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
														<a href="http://twitter.com/share?url={{ site }}{% url customer_offer id %}"
                               
                                data-via="shoppley" data-text="check out this amazing Shoppley deal:"
                                data-related="shoppley"
                                class="twitter-share-button">Tweet</a>
		

			</td>
			<td>
				<g:plusone href="{{ site }}{% url customer_offer id %}" style="padding-top: 0px;"></g:plusone>
			</td>
				</tr>
		</table>
		</div>

		<div class="map-div" style="display:none;" id="map_{{ id }}">
			{% ifnotequal gmap_src "-1" %}
	        	<p>
				<img class="map" src="{{ gmap_src }}">
			</p>
			{% endifnotequal %}
        	</div>


	<div class="clear">&nbsp;</div>

</div>
	<div class="clear">&nbsp;</div>

<script type="text/javascript">










</script>

