{% load i18n %}
<div class="offer-block">
        <div class="offer-img" style="float:left;width: 30%;">
                <div class="clear" style="height:100px;">&nbsp;</div>
      		<p>thumb</p>
        </div>
      
        <div class="offer-info" style="float: left;width: 70%;">
                <p>{{ title }}</p>
                <div class="clear">&nbsp;</div>

                <p>{{ time_left }}</p>
                <div class="clear">&nbsp;</div>     

      		 <div class="offer-snapshot">
                	<h4>{% trans "Quick Snapshot" %}</h4>
                	<span class="offer-snapshot">2</span>{% trans " hour(s)" %}</br>
                	<span class="offer-snapshot">16</span>{% trans " initial customers" %}</br>
                	<span class="offer-snapshot">8</span>{% trans " forwarded" %}</br>
                	<span class="offer-snapshot">24</span>{% trans " reached total" %}</br>
                	<span class="offer-snapshot">9</span>{% trans " redeemed" %}
        	</div>
	</div>
	                <div class="clear">&nbsp;</div>

</div>

~
~
~
~

