{% extends "offer/offer_base.html" %}
{% load i18n %}


{% load uni_form_tags %}
{% block head_title %}{% trans "Shoppley" %}{% endblock %}




{% block body %}
<div class="offer-form">
	
		<h3>Start an offer now!</h3>
        	<form class="offer-start-form uniform" id="offer_start_form" method="post" action="{% url merchant_start_offer %}" >{% csrf_token %}

			<fieldset class="inlineLabels">
                                        {{ form|as_uni_form }}
                                        <div class="form_blick">
                                                <input type="submit" value="{% trans "Start Offer &raquo;" %}" />
						<!--a class="shoppley-btn"><input type="submit" value="{% trans "Start offer &raquo;" %}"/></a-->
                                        </div>
                        </fieldset>
		</form>
	</div>

 <div class="clear" style="height: 40px;">&nbsp;</div>

        <div class="clear">&nbsp;</div>


{% endblock %}
{% block extra_scripts %}

		<style type="text/css">
			.formHint {
				display:none;
			}
		</style>
        <script type="text/javascript">
		$(function() {
		 $('id_date').datepicker({minDate:0});
		 $('#id_title').tipsy({html: true, trigger: 'focus', gravity: 'w', title: function() { return $(this).parent().children("p").html(); }});
		 $('#id_value').tipsy({html: true, trigger: 'focus', gravity: 'w', title: function() { return $(this).parent().children("p").html(); }});
		 $('#id_description').tipsy({html: true, trigger: 'focus', gravity: 'w', title: function() { return $(this).parent().children("p").html(); }});
		 $('#id_max_offers').tipsy({html: true, trigger: 'focus', gravity: 'w', title: function() { return $(this).parent().children("p").html(); }});
		 $('#id_discount_1').tipsy({html: true, trigger: 'focus', gravity: 'w', fallback: 'For FREE offers select custom option'});
		 $('#id_duration').tipsy({html: true, trigger: 'focus', gravity: 'w', title: function() { return $(this).parent().children("p").html(); }});
		});
		 $('#id_title').counter();
		 var is_now = false;
		 $('#id_now').click(function(){
			if (is_now) {
				$('#div_id_date').fadeIn(600);
				$('#div_id_time').fadeIn(600);
				is_now = false;
			}
			else {
				$('#div_id_date').fadeOut(600);
				$('#div_id_time').fadeOut(600);
				is_now = true;
			}
		 });
        </script>

{% endblock %}
