{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Start Offer" %}{% endblock %}

{% block body %}
	<h1>{% trans "Start Offers" %}</h1>

	<div class="merchant-incentive-explanation">
	<b>10 points</b> are deducted for every person who receives the offer.<br>
	You will be charged <b>$1 or 1%</b> whichever is less when people redeem your offers.<br>
	You will credited <b>50 points</b> for each person redeemed.<br>
	</div>

	<hr class="space">

	<div class="span-24 last">

	  <div class="span-12">
		<div class="ui-widget-header span-12 last">
		  Send Offer
		</div>
		<div class="ui-widget-content span-12 last">
		  <p>
			<!-- new offers -->
			<form class="sendoffer uniForm" id="sendoffer-form" method="post" action="{% url start_offer %}">
				<fieldset class="inlineLabels">
					{{ form|as_uni_form }}
					<div class="form_blick">
						<input type="submit" value="{% trans "Start Offer &raquo;" %}" />
					</div>
				</fieldset>
			</form>
		  </p>
		</div>

		{% if offer %}
		<div id="start-offer-result" class="success span-12 last">
			Offer has been sent out to {{ num_sent }}.
		</div>
		{% endif %}

	  </div><!-- span-12 -->


	  <!-- past offers -->
	  <div class="span-12 last">
		<div class="ui-widget-header span-12 last">
		  <div class="span-3">
			  Name
		  </div>
		  <div class="span-5">
			  Description
		  </div>
		  <div class="span-2">
			  <div class="shift-left-20">Received</div>
		  </div>
		  <div class="span-2 last">
			  <div class="shift-left-20">Redeemed</div>
		  </div>
		</div>

		<div class="past-offers ui-widget-content span-12 last">
		  {% for f in offers %}
			{% if not f.is_active %}
			  <div class="item span-12 last">
				<div class="span-3">
					{{ f.name }}	
				</div>
				<div class="span-5">
					{{ f.description }}
				</div>
				<div class="span-2">
					{{ f.num_received }}	
				</div>
				<div class="span-2 last">
					{{ f.num_redeemed }}
				</div>
			  </div>
			{% endif %}	
		  {% endfor %}
		</div> <!-- past-offers span-12 last -->
	  </div> <!-- span-12 last -->
	</div> <!-- span-24 last -->

	<hr class="space">

	<div class="ui-widget-header heading span-24 last">	
	  <div class="span-6">
		  Offer Name
	  </div>
	  <div class="span-9">
		  Offer Description 
	  </div>
	  <div class="span-4">
		  Total Received 
	  </div>
	  <div class="span-5 last">
		  Currently Redeemed
	  </div>
	</div>

	<div class="current-offers ui-widget-content span-24 last">
		<!-- current active offers -->
		{% for f in offers %}
		  <div class="item span-24 last">
			<div class="span-6">
				{{ f.name }}	
			</div>
			<div class="span-9">
				{{ f.description }}
			</div>
			<div class="span-4">
				{{ f.num_received }}
			</div>
			<div class="span-5 last">
				{{ f.num_redeemed }}
			</div>
		  </div>
		  <div class="span-24 last">
			{% for c in f.redeemers %}		
			  <!-- list of redeemers -->
			  <div class="span-24 last">
				  <div class="span-2">
					  <!-- favorite icon -->
					  <a href="">Favorite</a>
				  </div>
				  <div class="span-12">
					  <!-- user information -->	
					{{c.customer.user.username}}
				  </div>
				  <div class="span-10 last">
					  <!-- past activities  -->
					  Show past redemptions
				  </div>
			  </div>
			{% endfor %}
		  </div>
		{% endfor %}
	</div> <!-- current-offers -->
	
	

{% endblock %}
