{% extends "site_base.html" %}

{% load i18n %}

{% load uni_form_tags %}



{% block head_title %}{% trans "Shoppley" %}{% endblock %}


{% block body %}
<a class="shoppley-btn" style="float:left;" href="{% url user_profile %}">{% trans "&laquo; Back" %}</a>
     <div class="clear">&nbsp;</div>
	<div class="container">
  	
    	<!--div class="clear">&nbsp;</div-->
    	<div class="span-17 last">
			<h2>{% trans "Profile" %}</h2>
			<form class="customer-profile-edit-form uniForm" id="cprofile_edit_form" method="post" action="{% url customer_profile_edit %}" style="border_style:none;">
					{% csrf_token %}
			    <fieldset class="inlineLabels">
			        {{ form|as_uni_form }}
			        <div  class="form_block">
				<!--a class="shoppley-btn" style="float:left;" href="{% url customer_profile_edit %}">{% trans "Submit &raquo;" %}</a>
     <div class="clear">&nbsp;</div-->

			            <input type="submit" style="float:left;" class="shoppley-btn" value="{% trans "Submit &raquo;" %}" />
			        </div>
			    </fieldset>
			</form>	
    	</div>
    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
      	
      </div>
{% endblock %}

