<!doctype html>

{% load i18n %}
{% load uni_form_tags %}
{% load facebook_tags %}


<head>
	{% include "main_css.html" %}
</head>

<body>
	<div class="signup-forms span-14" id="frontpage-customer-signup">
		<div class="main-box">
			<div class="signup-header customer">
				Are you looking for <br/>
				<span class="highlight">incredible deals?</span>  <br/>
				Receive discount offer txts from your local stores on your cellphone.
				You're only a few steps away!
				</div>
				<div>&nbsp;</div>
				<div class="fb-connect" id="fb-connect-customer">
				Sign up by connecting your Facebook account <br/>	
				{% facebook_button %}
			       {% facebook_js %}
	
				<!--img src="http://placekitten.com/194/25"/-->
				</div>
			<div class="signup-form customer">
			<span class="highlight">or use our form!</span>
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <!--p>{% trans "Already have an account?" %} <a href="{% url acct_login %}">{% trans "Log In" %}</a>!</p-->
        
			<form class="customer-signup-front-form uniForm" id="signup_form" method="post" action="{% url customer_signup %}" style="border_style:none;">
				{% csrf_token %}
				<fieldset class="inlineLabels">
						{{ form|as_uni_form }}
						<div  class="form_block">
						<input type="submit" value="{% trans "Sign Up &raquo;" %}" />
						</div>
				</fieldset>
			</form>
    {% endif %}

		<input type="submit" id="customer-cancel" onclick="$(document).trigger('close.facebox')" value="{% trans "Cancel" %}" />                    
			<div class="clear">&nbsp;</div>
			</div>	
	
	
	</div>

	{% include "main_js.html" %}

		<script type="text/javascript">
		$(function() {
			console.log("Everything has been loaded.");
			$("#id_phone").mask("(999) 999-9999");
			$(".zip_code").mask("99999");
			$('.zip_code').tipsy({trigger: 'focus', gravity: 'w', fallback: 'Primary zip code during day time'});
			$('#id_address_1').tipsy({trigger: 'focus', gravity: 'w', fallback: 'Address you spend most of your time'});
		});
	</script>

</body>
</html>
