{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}



{% block head_title %}Shoppley{% endblock %}


{% block body %}

    <div class="container">
  	
    	<!--div class="clear">&nbsp;</div-->
    	<div class="span-17">
			<div class="profile profile-settings main-box">    		
				<h2>My Profile</h2>
                                <a class="shoppley-btn" href="{% url customer_profile_edit %}">{% trans "Edit" %}</a><br/>

				<ul>
					<li>Username</li>
					<li>{{ username }}</li>
					<li>Address</li>
					{% if address %}
					<li>{{ address }}</li>
					{% else %}
					<li>{% trans "Not given" %}</li>
					{% endif %}
					<li>Zipcode</li>
					<li>{{ zipcode }}</li>
					<li>Phone</li> 
					<li>{{ phone }}</li>
					<li>Daily Offer Frequency</li>
					<li>{{ frequency }}</li>
				</ul>
			</div>
		</div>
    	<div class="span-7 last">
			<div class="account-settings profile-settings">
				<h3>Account Setting</h3>

				<ul>
					<li>Email(s)</li>
					<li>{{ email }}</li>
						{% ifequal verified "True" %}
						<span class="email-verified" style="color:#d4da30;">verified</span>
						{% else %}
                                                <span class="email-verified" style="color:#ED5F87;">unverified</span>
						{% endifequal %}	                	</ul>        
			        <a class="shoppley-btn" href="{% url acct_email %}">{% trans "Edit" %}</a><br/>
				<ul>
					<li>Password</li>
					<li>***********</li>
				</ul>
				<a class="shoppley-btn"  href="{% url acct_passwd %}">{% trans "Change Password" %}</a><br/>
				</div>
    	</div>
    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
      	
      </div>
{% endblock %}


{% block extra_scripts %}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script>$("ul li:nth-child(odd)").attr("class","profile-settings-label");</script>
        <script>$("ul li:nth-child(even)").attr("class","profile-settings-value");</script>
	<script type="text/javascript">
		$(function() {
			
		});
	</script>
{% endblock %}
