{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
<html lang="en">

  {% block body %}

  	
    <div class="container">

   
    	<div class="span-17 last">
    		<h2 class="alt msg-box">thank you for signing up for Shoppley alpha service!<br/>
    			our fancy web site is coming soon, enjoy txt offers in the meantime.</h2>
    	</div>
     	      <div class="clear">&nbsp;</div>
    	<div class="span-24">
    		<div class="main-box">
    			<div class="instruction" id="get-offers">
    				<div id="customer-step1">
						<span class="green-text">Get</span>
    					<ol>
    						<li>Add 508-690-0888 to your contacts and save as “Shoppley”.</li>
    						<li>You will start receiving offers as many or as little as you want.</li>
    						<li>Txt <span style="font-weight:bold">#info</span> with your <span style="font-style:italic;">offer code</span> to Shoppley for details of the offer.</li>
    					</ol>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
       		<div class="clear">&nbsp;</div>
       		<div class="main-box">
    			<div class="instruction" id="redeem-offers">
    			<div id="customer-step2">	
					<span class="green-text">Share</span>
    					<ol>
    						<li>Do you have friends that would enjoy this offer at this moment?</li>
   						<li>Txt <span style="font-weight:bold">#forward</span> with your <span style="font-style:italic;">offer code</span> and list of your friends’ <span style="font-style:italic;">cell phone numbers.</span></li>
    						<li>Your friends will receive new personalized codes. Now they can enjoy the same offer too!</li>
    					</ol>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
       		<div class="clear">&nbsp;</div>
       		<div class="main-box">
    			<div class="instruction" id="share-offers">
    			<div id="customer-step3">	
					<span class="green-text">Redeem</span>
    					<ol>
    						<li>Offers usually expire in 90 minutes.  Show up to the store before the offer expires.</li>
    						<li>Tell the staff your <span style="font-style:italic;">offer code </span>and <span style="font-style:italic;">cell phone number</span>.</li>
    						<li>Enjoy!</li>
    					</ol>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
    	</div>
    	    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
	</div>      
  {% endblock %}
</html>
