<!doctype html>

{% load i18n %}
{% load i18n %}
{% load uni_form_tags %}
 
<head>
	{% include "main_css.html" %}
</head>

<body>
	<div class="signup-forms span-12" id="frontpage-merchant-signup" >
		<div class="main-box">
			<div class="signup-header merchant">
				Start pulling in new customers and<br/>
				<span class="highlight">expand your business</span>  <br/>
				by txting offers to shoppley, entirely on your terms.
			</div>
			<div class="signup-form merchant">

    {% if user.is_authenticated %}
			<p>{% trans "You are already logged in." %}</p>
    {% else %}
        <!--p>{% trans "Already have an account?" %} <a href="{% url acct_login %}">{% trans "Log In" %}</a>!</p-->
        
			<form class="merchant-signup-front-form uniForm" id="signup_form" method="post" action="{% url merchant_signup %}" style="border_style:none;">
		{% csrf_token %}
					<fieldset class="inlineLabels">
							{{ form|as_uni_form }}
							<div  class="form_block">
									<input type="submit" value="{% trans "Sign Up &raquo;" %}" />
							</div>
					</fieldset>
			</form>

    {% endif %}

		<input type="submit" id="merchant-cancel" onclick="$(document).trigger('close.facebox')" value="{% trans "Cancel" %}" />                    
			<div class="clear">&nbsp;</div>
			</div>
		</div>
	</div>

	{% include "main_js.html" %}

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/tipsy.css" type="text/css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maskedinput.js"></script>


	<script type="text/javascript">
			$("#id_phone").mask("(999) 999-9999");
			$('.zip_code').tipsy({trigger: 'focus', gravity: 'w', fallback: 'use 02139 and 02142 for now'});
	</script>
</body>
</html>
