{% extends "site_base.html" %}

{% load i18n %}

{% load uni_form_tags %}

{% block head_title %}{% trans "Shoppley" %}{% endblock %}


{% block body %}
<a href="{% url user_profile %}">
  			<input type="submit" value = "{% trans "&laquo; Back" %}" />
  		</a>
    <div class="container">
  		
    	<!--div class="clear">&nbsp;</div-->
    	<div class="span-17 last">
			<h2>{% trans "Profile" %}</h2>
			<form class="merchant-profile-edit-form uniForm" id="mprofile_edit_form" method="post" action="{% url merchant_profile_edit %}" style="border_style:none;">
					{% csrf_token %}
			    <fieldset class="inlineLabels">
			        {{ form|as_uni_form }}
			        <div  class="form_block">
						
	
			            <input type="submit" value="{% trans "Submit &raquo;" %}" />
			        </div>
			    </fieldset>
			</form>	
    	</div>
    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
      	
      </div>
{% endblock %}


{% block extra_scripts %}
	<script type="text/javascript">
		$(function() {
			
		});
	</script>
{% endblock %}
