{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

  {% block body %}


    <div class="container">

	<div class="span-24 last">
    		<h2 class="msg-box">thank you for signing up for Shoppley alpha service!<br/>
    			our fancy web site is coming soon, enjoy txt offers in the meantime.</h2>
		
    	</div>
     	      <div class="clear">&nbsp;</div>
    	<div class="span-24">
    		<div class="main-box">
    			<div class="instruction" id="merc-get-offers">
    			<div id="merchant-step1">	
					<span class="green-text">Sending Offers</span>
    					<ol>
    						<li>Add 508-690-0888 to your contacts and save as “Shoppley”.</li>
    						<li>Txt <span class="txt-command">#offer</span> with the details of the offer in 150 characters (offer will be valid for 90 mins).</li>
    						<li>You will receive a tracking number (via txt and e-mail).</li>
    					</ol>
    						<a href="{% url faq %}#goodoffers">Good Offer Examples</a><br/>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
       		<div class="clear">&nbsp;</div>
       		<div class="main-box">
    			<div class="instruction" id="merc-redeem-offers">
					<div id="merchant-step2">	
					<span class="green-text">Redeem</span>
    					<ol>
    						<li>Customers will soon visit with their Shoppley offer code.</li>
    						<li>Txt <span class="txt-command">#redeem</span> with the customer’s offer code and their cell phone number.</li>
						<li>This helps you track the performance of your offer.</li>
    					</ol>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
       		<div class="clear">&nbsp;</div>
       		<div class="main-box">
    			<div class="instruction" id="merc-track-offers">
    			<div id="merchant-step3">	
					<span class="green-text">Track</span>
    					<ol>
    						<li>Txt <span class="txt-command">#status</span> with your tracking number to find out the number of customers that were reached and redeemed.</li>
    						<li>Improve your offers based on our feedback.</li>
    						<li>Soon you will master sending out offers that make your customers happy!</li>
    					</ol>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
    	</div>
    	    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
     
    </div>
  {% endblock %}

