{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}

{% block head_title %}Shoppley{% endblock %}


{% block body %}

    <div class="container">
  	
    	<!--div class="clear">&nbsp;</div-->
    	<div class="span-17">
			<div class="profile profile-settings main-box">    		
				<h2>My Profile</h2>
				<a class="shoppley-btn" href="{% url merchant_profile_edit %}">{% trans "Edit" %}</a><br/>
                                <ul>
                                        <li>Username</li>
                                        <li>{{ username }}</li>
					<li>Business name</li>
                                        <li>{{ business_name }}</li>
                                        <li>Address</li>
                                        <li>{{ address }}</li>
                                        <li>Zipcode</li>
                                        <li>{{ zipcode }}</li>
                                        <li>Phone</li>
					<li>{{ phone }}</li>
                                       
                                </ul>
			</div>
		</div>
    	<div class="span-7 last">
			<div class="account-settings profile-settings">
				<h3>Account Setting</h3>
				<a class="shoppley-btn" href="{% url acct_email %}">{% trans "Edit" %}</a><br/>
				<ul>
					<li>Email</li>
					<li>{{ email }} <span class="email-verified">{{ verified }}</span></li>
					<li>Password</li>
					<li>***********</li>
				<ul>
				<a class="shoppley-btn" href="{% url acct_passwd %}">{% trans "Change Password" %}</a><br/>
				</div>
    	</div>
    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
      	
      </div>
{% endblock %}


{% block extra_scripts %}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>$("ul li:nth-child(odd)").attr("class","profile-settings-label");</script>
        <script>$("ul li:nth-child(even)").attr("class","profile-settings-value");</script>

	<script type="text/javascript">
		$(function() {
			
		});
	</script>
{% endblock %}
