{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

  {% block body %}


    <div class="container">

	<div class="span-17 last">
    		<h2 class="alt msg-box">thank you for signing up our beta sms service! <br/>
    			our fancy web site is coming soon, enjoy txt offers in the meantime.</h2>
    	</div>
     	      <div class="clear">&nbsp;</div>
    	<div class="span-24">
    		<div class="main-box">
    			<div class="instruction" id="merc-get-offers">
    				<span class="green-text">Sending Offers</span>
    				<div>
    					<ol>
    						<li>Add 508-690-0888 to your contacts and save as “Shoppley”.</li>
    						<li>Txt #offer with the details of the offer in 150 characters (offer will be valid for 90 mins).</li>
    						<li>You will receive a tracking number (via txt and e-mail).</li>
    					</ol>
    						Good Offer Examples:<br/>
    						 $5 off 28-34 sized pants in stock<br/>
						20% off freshly baked bread this afternoon <br/>
						FREE orange juice with a sandwich purchase<br/>					    						
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
       		<div class="clear">&nbsp;</div>
       		<div class="main-box">
    			<div class="instruction" id="merc-redeem-offers">
    				<span class="green-text">Redeem</span>
    				<div>
    					<ol>
    						<li>Customers will soon visit with their Shoppley offer code.</li>
    						<li>Txt #redeem with the customer’s offer code and their cell phone number.</li>
						<li>This helps you track the performance of your offer.</li>
    					</ol>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
       		<div class="clear">&nbsp;</div>
       		<div class="main-box">
    			<div class="instruction" id="merc-track-offers">
    				<span class="green-text">Track</span>
    				<div>
    					<ol>
    						<li>Txt <span style="font-weight:bold;">#status</span> with your tracking number to find out the number of customers that were reached and redeemed.</li>
    						<li>Improve your offers based on our feedback.</li>
    						<li>Soon you will be the master in sending out offers that make your customers happy!</li>
    					</ol>
    				</div>
    				<div class="clear">&nbsp;</div>
    			</div>
       		</div>
    	</div>
    	    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
     
    </div>
  {% endblock %}

