{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}

{% block head_title %}Shoppley{% endblock %}


{% block body %}

    <div class="container">
  	
    	<!--div class="clear">&nbsp;</div-->
    	<div class="span-12">
			<div class="profile">    		
				<h2>Profile</h2>
				<a class="shoppley-btn" href="{% url merchant_profile_edit %}">{% trans "Edit" %}</a><br/>
                                <ul>
                                        <li>Username</li>
                                        <li>{{ username }}</li>
					<li>Business name</li>
                                        <li>{{ business_name }}</li>
                                        <li>Address</li>
                                        <li>{{ address }}</li>
                                        <li>Zipcode</li>
                                        <li>{{ zipcode }}</li>
                                        <li>Phone</li>
					<li>{{ phone }}</li>
                                       
                                </ul>
			</div>
		</div>
    	<div class="span-12 last">
			<div class="account-settings">
				<h2>Emails</h2>
				<a href="{% url acct_email %}">{% trans "Edit" %}</a><br/>

				Email: {{ email }} <span class="email-verified">{{ verified }}</span><br/>
				<h2>Password</h2>
				<a href="{% url acct_passwd %}">{% trans "Change Password" %}</a><br/>
				Password: *********
			</div>
    	</div>
    	<div class="clear" style="height: 40px;">&nbsp;</div>
         	<div class="clear">&nbsp;</div>
      	
      </div>
{% endblock %}


{% block extra_scripts %}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>$("ul li:nth-child(odd)").attr("class","profile-settings-label");</script>
        <script>$("ul li:nth-child(even)").attr("class","profile-settings-value");</script>

	<script type="text/javascript">
		$(function() {
			
		});
	</script>
{% endblock %}
