{% load i18n %}
{% load uni_form_tags %}
    
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <!--p>{% trans "Already have an account?" %} <a href="{% url acct_login %}">{% trans "Log In" %}</a>!</p-->
        
        <form class="merchant-signup-front-form uniForm" id="signup_form" method="post" action="{% url merchant_signup %}" style="border_style:none;">
			{% csrf_token %}
            <fieldset class="inlineLabels">
                {{ mform|as_uni_form }}
                <div  class="form_block">
                    <input type="submit" value="{% trans "Sign Up &raquo;" %}" />
                </div>
            </fieldset>
        </form>
        

    {% endif %}
